body{
    margin:0;
    padding:0;
    background-color: #0b0c10;
}
#navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:70px;
    width:100%;
    background-image:linear-gradient(to right,#45a29e,#fff);
    position: fixed;
}
.nav-first{
    color:#0b0c10;
    font-size:28px;
    margin-left: 30px;
}
.menu{
    display:flex;
    list-style: none;
    margin-right: 30px;
}
.menu li a{
    font-size:20px;
    color:#0b0c10;
    text-decoration:none;
    padding: 0 10px 0 10px;
}
#home{
    height: 100vh;
    display:flex;
    justify-content: space-around;
    background-color: #0b0c10;
}
.home-1{
    color:#66FCF1;
    margin: 300px 0 0 30px;
    font-size: 40px;
}
.icons{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top:20px;
}
.icons i{
    padding: 0 10px 0 10px;
    font-size: 32px;
    color: #66F6F1;
}

.home-2{
    margin: 60px 40px 0 0;
}
.home-2 img{
    margin-top: 100px;
    width: 400px;
    height: 400px;
}
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    background-color: #0b0c10;
}
#about span{
    display: flex;
    justify-content: center;
    color: #66F6F1;
    font-size: 32px;
    font-weight: 500;
    padding-top: 70px;
}
.about-1{
    color: #c5c6c7;
    font-size: 28px;
}
.about-2{
    margin: 10px 50px 0 50px;
}
.cv-btn{
    width: 250px;
    height: 40px;
    background-color: aqua;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 0 10px 0 10px;
}
#skills{
    height: 100vh;
    margin-top: 20px;
    background-color: #0b0c10;
}
#skills span{
    display: flex;
    justify-content: center;
    color: #66F6F1;
    font-size: 32px;
    font-weight: 500;
    padding-top: 70px;
}
.skills1{
    flex-direction: column;
    padding: 10px;
    margin-top:20px;
}
.skills1 i{
    padding: 75px 0 75px 0;
    height: 25px;
    width: 50%;
    font-size: 40px;
    color: #66F6F1;
}
.skills1 m{
    padding: 75px 0 75px 0;
    height: 50px;
    width: 75%;
    font-size: 32px;
    color: #66F6F1;
}
#certificates{
    height: 100vh;
    margin-top: 20px;
    background-color: #0b0c10;
}
#certificates span{
    display: flex;
    justify-content: center;
    color: #66F6F1;
    font-size: 32px;
    font-weight: 500;
    padding-top: 70px;
}
.certificates-1{
    padding-top: 70px;
    width: 100%;
}
#contact{
    padding-top: 170px;
    height: 100vh;
    margin-top: 20px;
    background-color: #0b0c10;
}
#contact span{
    display: flex;
    color: #66F6F1;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
}
.input-fields-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 0;
}
.input-fields-1 input{
    width: 250px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    color: #66F6F1;
    background-color: #0b0c10;
    border: 1px solid #66F6F1;
    padding-left: 10px;
}
.input-fields-2{
    display:flex;
    flex-direction: row;
    justify-content:center;
    margin: 20px 20px 20px 20px;
}
.input-fields-2 button{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    background-color: aqua;
    color: #fff;
}
@media screen and (max-width:480px)
{
    #home{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    .home-1{
        margin-top: 50px;
        font-size: 24px;
    }
    .cv-btn{
        width: 200px;
    }
    .home-2{
        margin: 30px 0 0 0;
    }
    .home-2 img{
        width: 300px;
        height: 300px;
    }
    #navbar{
        display: flex;
        flex-wrap: wrap;
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
    }
    #about{
        height:200vh;
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    #skills{
        height: 200vh;
        display: flex;
        flex-wrap: wrap;
    }
    .skills1{
        display: flex;
        flex-wrap: wrap;
    }
    #certificates{
        height: 200vh;
        display: flex;
        flex-wrap: wrap;
    }
}
    
